.button {
  width: 100%;
  border: 0;
  background: #3d50ff;
  border: 2px solid #3d50ff;
  box-shadow: 0px 2px 26px #3d50ff;
  padding: 15px 20px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
